<h1>Sarus#new</h1>
<p>Find me in app/views/sarus/new.html.erb</p>

<%= form_for(@saru) do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :place_id %>
    <%= f.collection_select(:place_id, @places, :id, :name ) %>

    <div class="form-group">
        <div class="input-group date datetimepicker" date-target-input="nearest">
            <%= f.label :stime %>
            <%= f.text_field :stime, id: "stime", autocomplete: "off",
                class:"form-control datetimepicker-input",  data: {target: '#stime'} %>
            <div class="input-group-append" data-target="#stime" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group date datetimepicker" date-target-input="nearest">
            <%= f.label :etime %>
            <%= f.text_field :etime, id: "etime", autocomplete: "off",
                class:"form-control datetimepicker-input",  data: {target: '#etime'} %>
            <div class="input-group-append" data-target="#etime" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
    </div>

    <%= f.label :level %>
    <%= f.select :level, [["ふつう", 3], ["かなり上手", 4], ["セミプロ", 5]], autofocus: true, autocomplete: "level" %>

    <%= f.label :menu %>
    <%= f.text_field :menu %>

    <%= f.label :max %>
    <%= f.text_field :max %>

    <%= f.submit "Saru登録", class:"btn btn-primary" %>
<% end %>