<h1>Sarus#show</h1>
<p>Find me in app/views/sarus/show.html.erb</p>

<div class=""><%= @saru.title %></div>
<div class=""><%= @saru.place.name %>
<div class=""><%= @saru.stime %>
<div class=""><%= @saru.etime %>
<div class=""><%= @saru.menu %>
<div class="">
    <%= @saru.reserve.count %> /
    <%= @saru.max %>人
</div>

<% if user_signed_in? %>
    <% if current_user.reserve.find_by(saru_id: @saru.id).nil? %>
        <%= form_for(@reserve) do |f| %>
            <% if @saru.max != @saru.reserve.count %>
                <%= f.hidden_field :saru_id, :value => @saru.id %>
                <%= f.submit "予約" %>
            <% else %>
                <%= f.submit "満席" %>
            <% end %>
        <% end %>
    <% else %>
        <%= form_for(current_user.reserve.find_by(saru_id: @saru.id),
                html: {method: :delete}) do |f| %>
        <%= f.hidden_field :saru_id, :value => @saru.id %>
        <%= f.submit "キャンセル" %>
        <% end %>
    <% end %>
<% else %>
    <%= form_for(@reserve) do |f| %>
    <%= f.submit "予約" %>
    <% end %>
<% end %>

<%= user_signed_in? ? (link_to "編集", edit_saru_path) : nil %>
<%= link_to "一覧へ", sarus_path %>
