<h1>Sarus#show</h1>
<p>Find me in app/views/sarus/show.html.erb</p>

<%= @saru.title %>
<%= @saru.stime %>
<%= @saru.etime %>
<%= @saru.menu %>

<%= link_to "編集", edit_saru_path %>
<%= link_to "一覧へ", sarus_path %>
