<h1>Places#show</h1>
<p>Find me in app/views/places/show.html.erb</p>

    <%= @place.name %>
    <%= @place.adress %>
    <%= @place.detail %>

    <%= link_to "編集", edit_place_path %>
    <%= link_to "一覧へ", places_path %>
