
<%= link_to "マイページ", mypage_users_path %>
<%= link_to "Saru検索", sarus_path %>
<%= link_to "施設一覧", places_path %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<div class=header-right>
    <%= image_tag current_user.image.to_s, class:"user-icon" %>
    <%= link_to current_user.name, edit_user_registration_path %>　さん
</div>